*.fasl
*.tmp
*.zip
*~
/date/
/demoware/
Makefile.local
autoloads.out
configure/module-report.txt
diffs
gen-nfs-client.cl
gen-nfs-common.cl
gen-nfs-server.cl
hammernfs-libs
mount-client.cl
mount-common.cl
mount-server.cl
nfs
nfs.cfg
nlm-client.cl
nlm-common.cl
nlm-server.cl
nsm-client.cl
nsm-common.cl
nsm-server.cl
portmap-client.cl
portmap-common.cl
portmap-server.cl
sunrpc-common.cl
dists/
