*.fasl
*.tmp
*.zip
*~
/Makefile.local
/autoloads.out
/build.out
/commit-id.cl
/configure/module-report.txt
/configure/configform.bak
/date/
/demoware/
/dists/
/gen-nfs-client.cl
/gen-nfs-common.cl
/gen-nfs-server.cl
/hammernfs
/hammernfs.exe
/mount-client.cl
/mount-common.cl
/mount-server.cl
/nfs
/nfs.cfg
/nlm-client.cl
/nlm-common.cl
/nlm-server.cl
/nsm-client.cl
/nsm-common.cl
/nsm-server.cl
/portmap-client.cl
/portmap-common.cl
/portmap-server.cl
/sunrpc-common.cl
/testnfs
/test-big-readdir-udp
/test-nfs-low
/TAGS
