*~
*.fasl
*.tmp
*.zip
autoloads.out
nfs
nfs.cfg
diffs
configure/module-report.txt
gen-nfs-client.cl
gen-nfs-common.cl
gen-nfs-server.cl
hammernfs-libs
mount-client.cl
mount-common.cl
mount-server.cl
nlm-client.cl
nlm-common.cl
nlm-server.cl
nsm-client.cl
nsm-common.cl
nsm-server.cl
portmap-client.cl
portmap-common.cl
portmap-server.cl
sunrpc-common.cl
