;; Save this file as nfs.cfg after appropriate editing.

(
 (*nfslocaluid* 1000) 
 (*nfslocalgid* 50)
 (*nfsdebug* nil)
 (*nfslocalumask* #o022)
 (*exports* (("/c" "c:/")
             ("/d" "d:/")))
)
