;; Save this file as nfs.cfg after appropriate editing.

(
 (*nfslocaluid* 1000) 
 (*nfslocalgid* 50)
 (*nfs-rw-uids* nil)
 (*exports* (("/c" "c:/")
             ("/d" "d:/")))
 (*hosts-allow* nil)
 (*hosts-deny* nil)
 (*use-system-portmapper* nil)
)
